Repository jawebgit/gatsby, changes with the owners that CODEOWNERS names for each.
All owners: @gatsbyjs/core, @gatsbyjs/documentation, @duffn, @pvdz, @smthomas, @gatsbyjs/themes-core

CODEOWNERS:

# All files must be reviewed by the core team, unless they are owned by other team
*                                               @gatsbyjs/core

# All docs must be reviewed by the docs team.
/docs/                                          @gatsbyjs/documentation
**/README.md                                    @gatsbyjs/documentation
dictionary.txt                                  @gatsbyjs/documentation

# Benchmarks
/benchmarks/                                    @duffn @pvdz @smthomas

# Themes

/packages/gatsby-plugin-mdx/                    @gatsbyjs/themes-core
/packages/gatsby/src/bootstrap/load-themes      @gatsbyjs/themes-core
/packages/gatsby-recipes/                       @gatsbyjs/themes-core
/packages/gatsby-admin/                         @gatsbyjs/themes-core
/packages/gatsby/src/internal-plugins/webpack-theme-component-shadowing/   @gatsbyjs/themes-core

perf(gatsby-plugin-mdx): lazily fetch file nodes for plugins (#27937)
  packages/gatsby-plugin-mdx/utils/get-source-plugins-as-remark-plugins.js
Owners: @gatsbyjs/themes-core

fix(gatsby-transformer-remark): wait for cache promises before returning (#27871)
  packages/gatsby-transformer-remark/src/__tests__/extend-node.js
  packages/gatsby-transformer-remark/src/extend-node-type.js
  packages/gatsby/src/utils/__tests__/api-runner-node.js
  packages/gatsby/src/utils/api-runner-node.js
  packages/gatsby/src/utils/cache.ts
  packages/gatsby/src/utils/get-cache.ts
Owners: @gatsbyjs/core

feat(gatsby-transformer-sharp): Resolver API changes (#27783)
  e2e-tests/visual-regression/cypress/snapshots/image.js/GatsbyImage -- fixed image -- renders correctly on 1027x768.snap.png
  e2e-tests/visual-regression/cypress/snapshots/image.js/GatsbyImage -- fixed image -- renders correctly on ipad-2.snap.png
  e2e-tests/visual-regression/cypress/snapshots/image.js/GatsbyImage -- fixed image -- renders correctly on iphone-6.snap.png
  e2e-tests/visual-regression/cypress/snapshots/image.js/GatsbyImage -- fixed image smaller than requested size -- renders correctly on 1027x768.snap.png
  e2e-tests/visual-regression/cypress/snapshots/image.js/GatsbyImage -- fixed image smaller than requested size -- renders correctly on ipad-2.snap.png
  e2e-tests/visual-regression/cypress/snapshots/image.js/GatsbyImage -- fixed image smaller than requested size -- renders correctly on iphone-6.snap.png
  e2e-tests/visual-regression/cypress/snapshots/image.js/StaticImage -- fixed image -- renders correctly on 1027x768.snap.png
  e2e-tests/visual-regression/cypress/snapshots/image.js/StaticImage -- fixed image -- renders correctly on ipad-2.snap.png
  e2e-tests/visual-regression/cypress/snapshots/image.js/StaticImage -- fixed image -- renders correctly on iphone-6.snap.png
  e2e-tests/visual-regression/cypress/snapshots/image.js/StaticImage -- fixed image smaller than requested size -- renders correctly on 1027x768.snap.png
  e2e-tests/visual-regression/cypress/snapshots/image.js/StaticImage -- fixed image smaller than requested size -- renders correctly on ipad-2.snap.png
  e2e-tests/visual-regression/cypress/snapshots/image.js/StaticImage -- fixed image smaller than requested size -- renders correctly on iphone-6.snap.png
  e2e-tests/visual-regression/src/pages/images/constrained.js
  e2e-tests/visual-regression/src/pages/images/fixed-too-big.js
  e2e-tests/visual-regression/src/pages/images/fixed.js
  e2e-tests/visual-regression/src/pages/images/fluid.js
  e2e-tests/visual-regression/src/pages/static-images/constrained.js
  packages/gatsby-plugin-image/README.md
  packages/gatsby-plugin-image/src/babel-helpers.ts
  packages/gatsby-plugin-image/src/components/hooks.ts
  packages/gatsby-plugin-image/src/utils.ts
  packages/gatsby-plugin-sharp/package.json
  packages/gatsby-plugin-sharp/src/__tests__/utils.js
  packages/gatsby-plugin-sharp/src/image-data.ts
  packages/gatsby-plugin-sharp/src/safe-sharp.d.ts
  packages/gatsby-plugin-sharp/src/utils.js
  packages/gatsby-transformer-sharp/package.json
  packages/gatsby-transformer-sharp/src/customize-schema.js
  packages/gatsby-transformer-sharp/src/types.ts
  yarn.lock
Owners: @gatsbyjs/core, @gatsbyjs/documentation

fix(deps): update starters and examples - gatsby (#27930)
  starters/blog/package-lock.json
  starters/blog/package.json
  starters/default/package-lock.json
  starters/default/package.json
  starters/gatsby-starter-mdx-basic/package-lock.json
  starters/gatsby-starter-mdx-basic/package.json
Owners: @gatsbyjs/core

chore: Remove reporting workflow (#27943)
  .github/workflows/schedule-reporting-workflow.yml
Owners: @gatsbyjs/core

fix(gatsby): Update TS types to allow Node 'parent' to be nullable (#26570)
  packages/gatsby/index.d.ts
Owners: @gatsbyjs/core

chore(docs): Add children to styled-components doc (#27011)
  docs/docs/styled-components.md
Owners: @gatsbyjs/documentation

fix(docs): dictionary.txt -> KintoBlock-kintoblock (#27580)
  dictionary.txt
  docs/docs/deploying-to-kintohub.md
Owners: @gatsbyjs/documentation

docs(gatsby-plugin-image): Update readme (#27945)
  packages/gatsby-plugin-image/README.md
Owners: @gatsbyjs/documentation

feat(gatsby): enable compression in the dev server (#27948)
  packages/gatsby/src/utils/start-server.ts
Owners: @gatsbyjs/core

fix(gatsby-transformer-asciidoc): fails when doc doesn't have title (#27865)
  packages/gatsby-transformer-asciidoc/src/gatsby-node.js
Owners: @gatsbyjs/core

refactor(gatsby): clear pending page-data writes per-page (#27922)
  packages/gatsby/src/commands/build-javascript.ts
  packages/gatsby/src/redux/__tests__/__snapshots__/index.js.snap
  packages/gatsby/src/redux/reducers/pending-page-data-writes.ts
  packages/gatsby/src/redux/types.ts
  packages/gatsby/src/services/start-webpack-server.ts
  packages/gatsby/src/utils/page-data.ts
Owners: @gatsbyjs/core

fix(gatsby): don't hide original error if stack-trace point to not existing file (#27953)
  packages/gatsby/src/utils/api-runner-node.js
Owners: @gatsbyjs/core

chore(gatsby-telemetry): add two more value placeholders. (#27949)
  packages/gatsby-telemetry/src/telemetry.ts
Owners: @gatsbyjs/core

chore(gatsby-transformer-asciidoc): use optional chaining (#27969)
  packages/gatsby-transformer-asciidoc/src/gatsby-node.js
Owners: @gatsbyjs/core

pref(gatsby-plugin-mdx): add lessBabel option, 40% perf win (#27941)
  benchmarks/gabe-fs-mdx/gatsby-config.js
  e2e-tests/mdx-less-babel/.gitignore
  e2e-tests/mdx-less-babel/cypress.json
  e2e-tests/mdx-less-babel/cypress/integration/pages.js
  e2e-tests/mdx-less-babel/cypress/plugins/index.js
  e2e-tests/mdx-less-babel/cypress/support/index.js
  e2e-tests/mdx-less-babel/gatsby-config.js
  e2e-tests/mdx-less-babel/package.json
  e2e-tests/mdx-less-babel/src/components/example.js
  e2e-tests/mdx-less-babel/src/components/layout.js
  e2e-tests/mdx-less-babel/src/pages/another.mdx
  e2e-tests/mdx-less-babel/src/pages/index.mdx
  e2e-tests/mdx-less-babel/src/pages/list.js
  e2e-tests/mdx-less-babel/src/posts/about/embedded.mdx
  e2e-tests/mdx-less-babel/src/posts/about/index.mdx
  e2e-tests/mdx-less-babel/src/posts/my-blog.md
  packages/gatsby-plugin-mdx/__tests__/gatsby-node.js
  packages/gatsby-plugin-mdx/gatsby-node.js
  packages/gatsby-plugin-mdx/gatsby/on-create-node.js
  packages/gatsby-plugin-mdx/loaders/__snapshots__/mdx-loader.test.js.snap
  packages/gatsby-plugin-mdx/loaders/mdx-loader.js
  packages/gatsby-plugin-mdx/loaders/mdx-loader.test.js
  packages/gatsby-plugin-mdx/utils/create-mdx-node.js
  packages/gatsby-plugin-mdx/utils/gen-mdx.js
Owners: @duffn, @pvdz, @smthomas, @gatsbyjs/core, @gatsbyjs/themes-core

feat(gatsby-recipes): add Chakra UI recipe (#27721)
  packages/gatsby-recipes/recipes/chakra-ui.mdx
Owners: @gatsbyjs/themes-core

Added snipcart recipe to gatsby-recipes package
  packages/gatsby-recipes/recipes/snipcart.mdx
Owners: @gatsbyjs/themes-core

Fixed typo and formating in snipcart.mdx recipe file
  packages/gatsby-recipes/recipes/snipcart.mdx
Owners: @gatsbyjs/themes-core

add snipcart to list of recipes
  packages/gatsby-recipes/src/recipes-list.js
Owners: @gatsbyjs/themes-core

perf(gatsby): pull in cache lib and change lock from fs to mem (#27873)
  packages/gatsby/package.json
  packages/gatsby/src/cache/__tests__/cache-fs.js
  packages/gatsby/src/cache/cache-fs.ts
  packages/gatsby/src/cache/json-file-store.ts
  packages/gatsby/src/cache/wrap-callback.ts
  packages/gatsby/src/utils/cache.ts
  yarn.lock
Owners: @gatsbyjs/core

chore(gatsby-plugin-mdx): refactor lodash and debug use out (#27968)
  packages/gatsby-plugin-mdx/utils/get-source-plugins-as-remark-plugins.js
Owners: @gatsbyjs/themes-core

fix(gatsby-transformer-sharp): create child nodes only for Files (#27992)
  packages/gatsby-transformer-sharp/src/__tests__/__snapshots__/gatsby-node.js.snap
  packages/gatsby-transformer-sharp/src/__tests__/gatsby-node.js
  packages/gatsby-transformer-sharp/src/on-node-create.js
Owners: @gatsbyjs/core

fix(gatsby-remark-images): adding missing plugin options (#27944)
  packages/gatsby-remark-images/src/__tests__/gatsby-node.js
  packages/gatsby-remark-images/src/gatsby-node.js
Owners: @gatsbyjs/core

fix(gatsby-remark-images): allow showCaptions to accept array of valid strings (#27998)
  packages/gatsby-remark-images/src/__tests__/gatsby-node.js
  packages/gatsby-remark-images/src/gatsby-node.js
Owners: @gatsbyjs/core

fix(gatsby): allow unknown plugin options (#27938)
  packages/gatsby/src/bootstrap/load-plugins/__tests__/load-plugins.ts
  packages/gatsby/src/bootstrap/load-plugins/validate.ts
Owners: @gatsbyjs/core

chore(deps): update minor and patch for gatsby-admin (#27896)
  packages/gatsby-admin/package.json
  yarn.lock
Owners: @gatsbyjs/themes-core, @gatsbyjs/core

Fix #26359: Support HTTPS for the develop status server (#27955)
  packages/gatsby/src/commands/develop.ts
Owners: @gatsbyjs/core

fix(gatsby-plugin-sass): loosely check postCssPlugins (#27829)
  packages/gatsby-plugin-sass/src/__tests__/gatsby-node.js
  packages/gatsby-plugin-sass/src/gatsby-node.js
Owners: @gatsbyjs/core

docs(gatsby-source-contentful): clean up changelog (#28000)
  packages/gatsby-source-contentful/CHANGELOG.md
Owners: @gatsbyjs/core
